/*
Style sheet for advantage.html.
Submitted by Ryszard Kilarski, BU ID: U81-39-8560
*/
body {
	background-color: white;
	color: #000099;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	background-color: #CCCCCC;
}

h1 {
	font-family: "Times New Roman", serif;
	color: black;
}

.news {
	font-style: italic;
	color: red;
}