/*------- GOT BUGS*/
#got_bugs:link,
#got_bugs:visited {
	position: absolute;
	left: 0;
	top: 0;
	text-align: left;
	text-indent: -200px;
	display: block;
	background:  url("/images/dhonishow/got_bugs.png") left top no-repeat;
	width: 138px;
	height: 138px;
	cursor: pointer;
}
/*#got_bugs:focus,
#got_bugs:hover,
#got_bugs:active{
	background:  url("/images/dhonishow/got_bugs_hover.png") left top no-repeat;
}*/

/*------- LOGO*/
h1 {
	margin: 0 auto 30px auto;
	width: 887px;
	position: relative;
}

h1 a#logo:link,
h1 a#logo:visited{
	text-indent: -5000px;
	margin: 28px auto 0 auto;
	display: block;
	background: url("/images/dhonishow/dhonishow.png") center no-repeat;
	width: 448px;
	height: 145px;
}

h1 a#buggy:link,
h1 a#buggy:visited {
	top: 80px;
	right: 325px;
	position: absolute;
	background: url("/images/dhonishow/buggy.png") no-repeat;
	display: block;
	width: 68px;
	height: 70px;
	text-indent: -4000px;
}


/*------- HEADER*/
#header {
	margin: 0 auto;
	width: 928px;
	overflow: hidden;
	position: relative;
}

#teaser {
	width: 589px;
	height: 96px;
	background: url("/images/dhonishow/teaser.gif") no-repeat;
	text-indent: -4000px;
	float: left;
}

#header #download{
	display: block;
	position: absolute;
	right: 21px;
	top: 16px;
	width: 293px;
	height: 72px;
	background: url("/images/dhonishow/download.gif") no-repeat;
	text-indent: -10000px;
}
#header #download:hover {
	background: url("/images/dhonishow/download_hover.gif") no-repeat;
}


/*------- DHONIS*/
#dhonis {
	clear: both;
	margin: 5px auto;
	overflow: hidden;
	width: 887px;
	position: relative;
	z-index: 0;
	margin-bottom: 40px;
}

#dhonis .middle {
	margin: 0 4px;
}


/*------- CONTENT*/
#content {
	margin: auto;
	width: 887px;
	color: #fff;
}

#content * {
	text-align: left;
}

#content div {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 5px 0;
	overflow: hidden;
	margin-bottom: 40px;
}

#content div div{
	border: none;
	background: #454545;
	padding: 10px 5px;
	margin: 0;
}

#content div.col_left,
#content div.col_right {
	float: left;
	width: 425px;
}
#content div.col_right {
	float: right;
}

#content h2 {
	line-height: 1em;
	font-size: 30px;
	color: #fff;
	font-family: "Trajan Pro", Georgia, "Times New Roman";
	font-weight: normal;
}

#content h3 {
	font-size: 0.9em;
	font-weight: normal;
	margin-top: 0.5em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	line-height: 1.3em;
	position: relative;
}

#content h3 span.new {
	background: url(/images/dhonishow/icon_new.png) top right no-repeat;
	height: 43px;
	width: 43px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	text-indent: -1000px;
}
#content p {
	font-weight: normal;
	line-height: 20px;
}

#content pre {
	padding: 4px 0;
}

#content pre code{
	display: block;
	font-family: Monaco, "Courier New",Courier;
	background: #3e4f56;
	border-top: 1px solid #00aaef;
	border-bottom: 1px solid #00aaef;
	line-height: 16px;
	font-size: 10px;
	color: #fff;
	padding: 5px 9px;
}

#content li code {
	padding: 0;
	margin: 3px 0;
}

#content li {
	list-style: square inside;
	line-height: 1.8em;
}

/*------- BUG_REPORTER*/
#bug_reporter {
	margin: -20px auto 20px auto;
	width: 404px;
	text-align: left;
	color: #fff;
	overflow: hidden;
}
#bug_reporter #bug_send {
	width: 340px; 
	height: 3em; 
	padding: 0 1em; 
	text-align: center; 
	font-size: 3em; 
	color: #DEFB00;
}
#bug_reporter #userAgent {
	margin-bottom: 10px;
}

#bug_reporter input {
	width: 385px;
	border: 2px solid #DEFB00;
	background: #fff;
	font-size: 12px;
	margin-bottom: 1em;
	padding: 5px;
}

#bug_reporter textarea {
	border: 2px solid #DEFB00;
	font-size: 12px;
	line-height: 19px;
	background: #fff;
	padding: 5px;
	width: 385px;
	height: 200px;
	font-family: Georgia, "Times New Roman";
}
#bug_reporter button {
	text-indent: -4000px;
	float: right;
	margin-right: 0;
	width: 148px;
	height: 32px;
	background: url("/images/dhonishow/bug_report_button.gif") 0 2px;
	color: #00AAEF;
	cursor: pointer;
	-moz-outline: none;
}

/*-------- FOOTER*/
#footer {
	width: 887px;
	overflow: hidden;
	margin: 0 auto;
	padding: 20px 0;
	color: #fff;
}
#footer li {
	float: left;
	margin-right: 30px;
	text-align: left;
}

#footer #licence {
	display: block;
	width: 146px;
	height: 35px;
	background: url("/images/dhonishow/ccl.gif") no-repeat;
	text-indent: -4000px;
}

#footer .vcard .vCardDownload{
	margin-top: 3px;
	display: block;
	width: 42px;
	height: 33px;
	background: url("/images/dhonishow/vCard.jpg") no-repeat;
	text-indent: -4000px;
}

#footer .vcard * {
	display: none;
}

#footer .desc,
#footer .alex,
#footer .gerrit {
	margin-top: 6px;
}

#footer .alex,
#footer .gerrit{
	float: right;
	margin: 0;
}
	
#footer .alex a,
#footer .gerrit a{
	display: block;
	padding: 0;
	margin-left: 4px;
	height: 16px;
	width: 16px;
	text-align: left;
	text-indent: -4000px;
}
#footer .alex a{
	background: url("/images/dhonishow/alex.gif") no-repeat;
}

#footer .gerrit a{
	background: url("/images/dhonishow/gerrit.gif") no-repeat;
}

#imprint {
	position: absolute;
	z-index: 2000;
	background: #00AAEF;
	color: #fff;
	border: 5px solid #DEFB00;
	padding: 5px;
	margin: 35px auto;
	left: 35%;
	width: 30%;
	font-size: 1.6em;
	line-height: 1.3em;
}
#imprint h2 {
	font-size: 1.2em;
	margin-bottom: 0.5em;
}
#imprint .close {
	float: right;
	color: #fff;
}

#imprint .close:hover {
	color:#DEFB00;
}

#imprint{
	text-align: left;
}