/*
Stylesheet for client-side restaurant.

Need to use
Descendant Selector [p div]
Child Selector ['p > div']
YESAttribute Selector ['att=value']
YESType or Element Selector ['p']
Adjacent sibling Selector ['p + div']


*/

/*------------------------------Universal Section------------------------------*/
* {
	font-family: Arial, sans-serif;
	color: #FFFFFF;
}

/*------------------------------Element Section------------------------------*/
a {
	text-decoration: none;
}
a:hover {
	color:black;
}

body {
	background-color: #000000;
	margin: 0;
	/*Background image begin*/
	background: url("images/chickengrill.jpg") no-repeat fixed center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*Background image end*/
}

h1,h2 {
	text-align: center;
	font-size: 30px;
}

h2 {
	font-size: 15px;
}

input[type="button"] {
	background-color: #FF6600;
	color: #FFFFFF;
	/*Border radius section*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-border-radius: 15px
}
/*------------------------------Class Section------------------------------*/

/*------------------------------ID Section------------------------------*/
#wrapper {
	width: 95%;
	height: 100%;
	background-color: #FF6600;
	margin: 100px auto;
	/*Border radius section*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/*End border radius section*/
}

#transparent {
	width: 95%;
	height: 95%; /* Does this do anything?*/
	margin: 100px auto;
	background-color: #FFFFFF;
	border: 1px solid black;
	/*Set opacity for image */
	opacity: 0.8;
	filter: alpha(opacity = 80); /* For IE8 and earlier */
	/*Border radius section*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-border-radius: 15px
}



#chickenrice {
	float: left;
	width: 10%;
	margin: 5px 5px 5px 5px;
}

#navigation {
	float: right;
	width: 87%;
	text-align: right;
	margin: 5px 5px 5px 5px;
}

#content {
	float: clear;
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
}

#footer {
	text-align: center;
	font-size: 12px;
	color: #000000;
}

#location {
	text-align: center;
	color: #FFFFFF;
}