* {
	font-family: Arial, sans-serif;
}

p {
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

html {
	height: 100%;
}

body {
	background-color: #000000;
	margin: 0;
	/*height: 80%;
	min-height: 95%;*/
	padding-bottom: 18px;
	margin: 0;
}

#bodywrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 80%;
	background-color: #000000;
	margin: 0 auto 1em;
	padding-bottom: 10px;
	border: none;
}

footer {
	background-color: #000000;
	color: #EB009B;
	width: 100%;
	height: 1.5em;
	text-align: center;
	font-weight: normal;
	font-size: 15px;
	/*border-top: 1px solid #FF6600;*/
}

header {
	background-color: #000000;
}

h1,h2,h3,h4 {
	clear: both;
	text-align: center;
	color: #ffffff;
}

#logo {
}

#valkyrieslogo {
	width: 200px;
}

#pagelogo {
	width: 200px;
	float: left;
}

.clear {
	clear: both;
}

#title {
	float: left;
	width: 50%;
}

h1#title {
	text-align: left;
}

#balls {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

#logimage {
	max-width: 100%;
}

.navigation {
	text-align: center;
	font-size: 20px;
	margin: 0;
	background-color: #000000;
	color: #ffffff;
}

.navigation a:hover,.highlight a {
	color: #EB009B;
}

ul.navigation {
	list-style: none;
}

ul.navigation li {
	display: inline-block;
	margin: 10px;
}

/*
CSS Facebook and Twitter icons from:
http://www.1stwebdesigner.com/css/css-icons-logos/
*/
.facebook a {
	position: relative;
	border-color: #3c5a98;
	text-transform: lowercase;
	text-indent: 17px;
	letter-spacing: 5px;
	font-weight: bold;
	font-size: 32px;
	line-height: 33px;
	color: #fff;
	background: #3c5a98;
	/* css3 */
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); /* standards version last */
}
/*
CSS Twitter icon
*/
.twitter a {
	position: relative;
	border-color: #a8eaec;
	text-transform: lowercase;
	text-indent: 10px;
	letter-spacing: 10px;
	font: bold 32px/1 Tahoma, sans-serif;
	line-height: 33px;
	color: #76DDF8;
	background: #daf6f7;
	/* css3 */
	text-shadow: 3px 3px 1px #fff, -3px -3px 1px #fff, 3px -3px 1px #fff,
		-3px 3px 1px #fff;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); /* standards version last */
	/* NOTE: webkit gradient implementation is not as per spec */
	background: -webkit-gradient(linear, left top, left bottom, from(#dbf7f8),
		to(#88e1e6) );
	background: -moz-linear-gradient(top, #dbf7f8, #88e1e6);
}

#favorites {
	position: absolute;
	top: 0;
	right: 0;
}

#favorites ul {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font: 0.875em/1 Arial, sans-serif;
}

#favorites ul li {
	display: inline-block;
}

#favorites ul li a {
	display: block;
	width: 32px; /*64px;*/
	height: 32px; /*64px;*/
	overflow: hidden;
	border: 1px solid transparent;
	line-height: 32px; /*64px;*/
	text-decoration: none;
	/* css3 */
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* standards version last */
}

#favorites ul li a:hover,#favorites ul li a:focus,#favorites ul li a:active
	{
	opacity: 0.8;
	border-color: #000;
}

.twitter-timeline {
	height: 100%
}

.twitter-timeline {
	height: 100%
}

#tweets {
	display: none;
	position: absolute;
	right: 50px;
	top: 50px;
	width: 400px;
	z-index: 1;
	height: 600px;
}

#mailicon {
	width: 32px;
}