/*
Stylesheet for client-side restaurant.

Adjacent sibling Selector ['p + div']

*/
* {
	font-family: Arial, sans-serif;
}

a {
	text-decoration: none;
}

html {
	height: 100%;
}

body {
	background-color: #000000;
	margin: 0;
	height: 100%;
	min-height: 100%;
	padding-bottom: 18px;
	scrollbar-base-color: #FF6600;
	scrollbar-arrow-color: #FF6600;
	scrollbar-DarkShadow-Color: #FF6600;
	/*Background image begin*/
	background: url("img/bg/bg-01.jpg") no-repeat fixed center center;
	/*For IE8*/
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="img/bg/bg-01.jpg",
		sizingMethod="scale" );
	/*For IE8?
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src="img/bg/bg-01.jpg", sizingMethod="scale");*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	scrollbar-arrow-color: #FF6600;
	scrollbar-DarkShadow-Color: #FF6600;
	/*Background image end*/
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 15px;
}

p {
	color: #FFFFFF;
}

h1,h2,h3 {
	clear: both;
	text-align: center;
	color: #FFFFFF;
}

input {
	background-color: #FF6600;
	color: #FFFFFF;
	padding-left: 5px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

footer {
	background-color: #FFFFFF;
	color: #000000;
	width: 100%;
	height: 2em;
	text-align: center;
	font-weight: normal;
	font-size: 15px;
	border-top: 1px solid #FF6600;
}

label {
	padding-right: 10px;
	color: #FFFFFF;
}

fieldset,fieldset>legend {
	color: #FFFFFF;
}

#greeting {
	color: #FF6600;
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
}

.center {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

select,input,#innerframe,#outerframe,#logo,textarea,fieldset {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#logo {
	width: 200px;
	margin: auto;
	text-align: center;
	background-color: #FFFFFF;
	color: #FF6600;
	padding: 10px;
	margin-top: 20px;
}

#largerestaurantname {
	font-size: 30px;
	color: #FF6600;
}

#tagline {
	font-size: 15px;
	color: #FF6600;
}

#tagline>span {
	font-size: 15px;
	color: #FF6600;
}

#content {
	float: clear;
	margin: 5px;
	padding: 10px;
}

#outerframe,#logo {
	opacity: 0.80;
	filter: alpha(opacity =   80);
	/* For IE8 and earlier */
	border: 1px solid #000000;
}

#innerframe {
	width: 95%;
	height: 100%;
	min-height: 100px;
	background-color: #FF6600;
	margin: 25px auto;
}

#outerframe {
	width: 95%;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#bodywrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -2em;
	padding-bottom: 18px;
}

#location {
	text-align: center;
	color: #000000;
	padding-top: 10px;
	padding-right: 10px;
}

#location a {
	color: #000000;
}

#wordcloud {
	border: 0;
	height: 600px;
	width: 100%;
	margin: auto;
}

.clear {
	clear: both;
}

#loginforms {
	width: 80%;
	margin: auto;
}

#loginform,#newloginform {
	float: left;
	display: inline;
	width: 450px;
}

#loginform label,#newloginform label {
	width: 150px;
}

form#checkout{
	width: 1250px;
	margin: auto;
}
.addressform {
	margin: auto;
	width: 600px;
	padding: 10px;
	color: #FFFFFF;
}

.addressform label {
	float: left;
	width: 225px;
	display: block;
	clear: left;
	text-align: right;
}

#billingaddress{
	float: left;
}

#deliveryaddress{
	float: left;
}
#deliveryaddress>fieldset, #billingaddress>fieldset{
	height: 350px;
}
input,select,option,textarea {
	background-color: #FFFFFF;
	color: #FF6600;
}

input[type="submit"],input[type="reset"],input[type="button"] {
	background-color: #FF6600;
	color: #FFFFFF;
}

form[name="mailinglist"] {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 100%;
}

#mailinglist {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-left: auto;
}

form[name="cart"] {
	width: 100%;
}

form[name="cart"] input {
	float: right;
}

.right {
	float: right;
}

.blacklist {
	color: #FF0000;
}

fieldset#addreservation,fieldset#addevent,fieldset#contactinfo,fieldset#createdby,fieldset#itemdetail
	{
	width: 50%;
	margin: auto;
}

fieldset#createdby a {
	color: #FFFFFF;
}

.menuheader {
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #FFFFFF;
}

.menuitem {
	width: 150px;
	color: #FFFFFF;
}

.menuitem a,.menudesc a {
	color: #FFFFFF;
}

.menudesc {
	color: #FFFFFF;
}

.menuimagerow {
	display: none;
}

.menuimage {
	width: 300px;
	height: 200px;
	margin: auto;
}

.menuprice,.totalprice {
	text-align: right;
	color: #FFFFFF;
	width: 100px;
}

.menuremove a {
	text-align: right;
	color: #FFFFFF;
}

.menuquantity {
	width: 80px;
	text-align: right;
}

.customerrequest {
	padding-left: 50px;
	padding-right: 50px;
}

div.customerrequest+div.customerrequest {
	border-left: 1px black;
}

.totaldesc {
	text-align: right;
	font-weight: bold;
	color: #FFFFFF;
}

.totalprice {
	font-weight: bold;
	color: #FFFFFF;
}

tr:not (:first-child ).menuheader>td {
	padding-top: 25px;
}

tr.spaceabove>td {
	padding-top: 20px;
}

iframe#googlemap {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 525px;
	height: 450px;
}

.navigation {
	text-align: center;
	font-size: 20px;
	margin: 0;
}

ul.navigation {
	list-style: none;
}

ul.navigation li {
	display: inline-block;
	background: #FF6600;
	margin: 0;
}

ul.navigation li:nth-of-type(even) a {
	color: #000000;
}

ul.navigation>li:nth-of-type(odd) a {
	color: #FFFFFF;
}

ul.navigation>li a:hover {
	background-color: #FFFFFF;
	color: #FF6600;
}

ul.navigation li.highlight {
	background-color: #FFFFFF;
}

ul.navigation li.highlight a {
	color: #FF6600;
	cursor: default;
}

ul li>a>span {
	color: inherit;
}

#login {
	float: right;
	margin-right: 20px;
}

/*
CSS Facebook and Twitter icons from:
http://www.1stwebdesigner.com/css/css-icons-logos/
*/
.facebook a {
	position: relative;
	border-color: #3c5a98;
	text-transform: lowercase;
	text-indent: 17px; 
	letter-spacing: 5px;
	font-weight: bold;
	font-size: 32px; 
	line-height: 33px;
	color: #fff;
	background: #3c5a98;
	/* css3 */
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); /* standards version last */
}
/*
CSS Twitter icon
*/
.twitter a {
	position: relative;
	border-color: #a8eaec;
	text-transform: lowercase;
	text-indent: 10px;
	letter-spacing: 10px;
	font: bold 32px/1 Tahoma, sans-serif;
	line-height: 33px;
	color: #76DDF8;
	background: #daf6f7;
	/* css3 */
	text-shadow: 3px 3px 1px #fff, -3px -3px 1px #fff, 3px -3px 1px #fff,
		-3px 3px 1px #fff;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); /* standards version last */
	/* NOTE: webkit gradient implementation is not as per spec */
	background: -webkit-gradient(linear, left top, left bottom, from(#dbf7f8),
		to(#88e1e6) );
	background: -moz-linear-gradient(top, #dbf7f8, #88e1e6);
}

#favorites {
	position: absolute;
	top: 0;
	right: 0;
}

#favorites ul {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font: 0.875em/1 Arial, sans-serif;
}

#favorites ul li {
	display: inline-block;
}

#favorites ul li a {
	display: block;
	width: 32px; /*64px;*/
	height: 32px; /*64px;*/
	overflow: hidden;
	border: 1px solid transparent;
	line-height: 32px; /*64px;*/
	text-decoration: none;
	/* css3 */
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* standards version last */
}

#favorites ul li a:hover,#favorites ul li a:focus,#favorites ul li a:active
	{
	opacity: 0.8;
	border-color: #000;
}

.twitter-timeline {
	height: 100%
}

#tweets {
	display: none;
	position: absolute;
	right: 50px;
	top: 50px;
	width: 200px;
	z-index: 1;
	height: 500px;
}