/*
Style sheet for moviecss2.html.
Submitted by Ryszard Kilarski, BU ID: U81-39-8560
*/
body {
	background-color: yellow;
	color: green;
}

a {
	background-color: white;
}

h1 {
	font-family: "Times New Roman", serif;
	color: green;
	background-color: white;
}