/*
Staff stylesheet, which presents a darker-toned set of colors to differentiate itself from the customer page.
*/
@import url("../styles.css");

/*------------------------------Universal Section------------------------------*/


/*------------------------------Element Section------------------------------*/
a {
	color: #CC6600;
}

input[type="button"] {
	background-color: #CC6600;
}
/*------------------------------Class Section------------------------------*/


/*------------------------------ID Section------------------------------*/
#wrapper { 
	/*Linear gradient section*/
	background-color: #FFFFFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF),
		to(#CC6600) );
	background-image: -moz-linear-gradient(top, #FFFFFF, #CC6600);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF,
		endColorstr=#CC6600 );
	background-image: linear-gradient(#FFFFFF, #CC6600);
	border-radius: 15px;
	/*End linear gradient section*/
}