body {
	font-family: Arial, Calibri, sans-serif;
}

.question {
	font-family: Calibri, sans-serif;
	font-weight: bold;
	font-style:italic;
}

.answer {
	font-family: Calibri, sans-serif;
	margin: 0 0 20px 20px;
}

.answer:first-letter{
	font-weight:bold;
}

h2 {
	margin: 20px 0 20px 0px;
}

.fillintheblank {
	text-decoration: underline;
}

#wrapper {
	margin: 0 auto;
	width: 90%;
}