/*
 * author: Ryszard Kilarski 
 * email: emrys@bu.edu 
 * BU ID: U81-39-8560
 * 
 */
* {
	margin: 0;
	font-family: Arial, sans-serif;
}

body,html {
	margin: 0;
	padding: 0;
	height: 100%;
	color: #EB009B;
	background: #404040;
}

#logo {
	margin-left: auto;
	margin-right: auto;
}

.songname {
	color: #EB009B;
	padding-top: 10px;
}

.artistname {
	color: #404040;
	font-size: small;
}

#wrap {
	width: 99%;
	height: 100%;
	min-height: 100%;
	position: relative;
	transition: background-image 1s ease-in-out;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

#header {
	padding: 10px;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
}

#header:hover {
	background-color: rgba(0, 0, 0, 0.7);;
}

#footer {
	padding: 10px;
	color: #ffffff;
	clear: both;
	height: 25px;
	text-align: center;
	font-size: 10px;
}

#apparea {
	float: left;
	width: 80%;
	height: 90%;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
}

#songid {
	display: none;
}

#chordtrayarea {
	float: right;
	width: 100px;
	height: 90%;
}

#chordtray {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 10px;
	padding-bottom: 25px;
}

.guitarchart {
	margin-left: auto;
	margin-right: auto;
	/*display: none;*/
	border: 1px solid #ffffff;
	background-color: #ffffff;
	opacity: 0.7;
}

.guitarcharthighlight {
	width: 70px;
	height: 80px;
	background-color: #EB009B;
}

a,input,.loaditem,.guitarchart,#textarea,#chordarea,#header {
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

a:hover,.highlight {
	color: #EB009B;
}

.guitarchart:hover,.loaditem:hover {
	border-color: #EB009B;
	opacity: 1;
	color: #EB009B;
}

table:hover,#songname:hover,#artistname:hover,#searchfield:hover,#textarea:hover,#chordarea:hover
	{
	border: 1px solid #eb009b;
}

#searchfield {
	width: 70%;
	margin-bottom: 10px;
}

#loadarea,#setuparea {
	display: none;
	border: 1px solid #000000;
	height: 400px;
	background-color: #000000;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	overflow-y: scroll;
}

#aboutarea {
	display: none;
	color: #EB009B;
}

#searchby {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

#searchbysongorartist {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#textarea,#chordarea {
	border: 1px solid #404040;
	opacity: 0.7;
	background-color: #ffffff;
	width: 47%;
	height: 95%;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#chordarea {
	font-size: xx-large;
	color: grey;
	margin-top: auto;
	margin-bottom: auto;
}

#textarea:hover,#chordarea:hover {
	opacity: 1;
}

#chordarea {
	float: right;
}

#textarea {
	float: left;
}

.loaditem {
	padding-top: 10px;
	background-color: #ffffff;
	border: 1px solid #000000;
	color: #000000;
	width: 140px;
	height: 160px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.toast {
	display: none;
	background-color: #404040;
	color: #ffffff;
	border: 1px solid #eb009b;
	position: absolute;
	xwidth: 350px;
	xheight: 100px;
	/*line-height: 100px;
	vertical-align: middle;*/
	text-align: center;
	padding: 20px;
}

.toastimage {
	float: left;
}

.toasttext {
	float: right;
}

input {
	margin-top: 10px;
}

table,input,td,.guitarchart,.guitarcharthighlight,.loaditem,.toast,#textarea,#loadarea,#chordarea,#chordtray,#aboutarea,#setuparea,#logo,#header
	{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

input.songtext {
	margin-top: 1px;
	font-family: monospace;
	border: 0;
	width: 100%;
	border: 0;
	font-family: monospace;
}

input:focus {
	outline: none;
}

#songname,#artistname {
	width: 100%;
	display: block;
	text-align: center;
	outline: none;
	border: none;
}

table,#songname,#artistname,#searchfield {
	border: 1px solid #ffffff;
}

ol.chordList {
	list-style: none;
}

ol.chordlist li {
	display: inline;
}

.navigation {
	text-align: center;
	font-size: 20px;
	margin: 0;
	color: #ffffff;
	padding: 0;
}

ul.navigation {
	list-style: none;
	text-align: center;
}

ul.navigation li {
	display: inline;
	margin: 10px;
}

.navigation a {
	display: inline-block;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

#lyricstable {
	width: 100%;
}

/*
Customize the look and feel of the scrollbars.
*/
::-webkit-scrollbar {
	width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(235, 0, 155, 0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(235, 0, 155, 0.4);
}

@media print {
	#header,#chordtrayarea,#footer {
		display: none;
	}
	#apparea {
		background-color: #ffffff;
		padding-left: 0;
	}
	#textarea,#chordarea {
		border: 0;
	}
}

.headerLineType {
	font-style: italic;
}

.chordLineType {
	font-weight: bold;
}

.lyricsLineType { /*Currently the lyric type has no style*/
	
}

.gotFocusLineType {
	background-color: #ffffff;
}

.lostFocusLineType {
	background-color: #F0F0F0;
}

#chordeditor {
	float: left;
}

#chordpreview {
	float: left;
	text-align: center;
}

#chordplaceholder {
	display: block;
	position: absolute;
	top: 45%;
	width: 35%;
	height: 10em;
	text-align: center;
}