* {
	margin: 0;
	font-family: Arial, sans-serif;
}

body,html {
	margin: 0;
	padding: 0;
	height: 100%;
	color: #000000;
	background: #606060;
}

#wrap {
	background: #606060;
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
}

#header {
	padding: 10px;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
}

#footer {
	padding: 10px;
	color: #ffffff;
	clear: both;
	height: 25px;
	text-align: center;
	font-size: 10px;
}

#apparea {
	float: left;
	width: 80%;
	height: 90%;
	background-color: #606060;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
}

#chordtrayarea {
	float: right;
	width: 85px;
}

#chordtray,#chordtrayarea {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #606060;
	padding: 10px;
	padding-bottom: 25px;
}

.guitarchart {
	margin-left: auto;
	margin-right: auto;
	/*display: none;*/
	border: 1px solid #ffffff;
	background-color: #ffffff;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.guitarchart:hover {
	border-color: #EB009B;
	opacity: 0.5;
}

#searchfield {
	width: 100%;
	margin-bottom: 10px;
}

#textarea {
	background-color: #ffffff;
	float: left;
	width: 48%;
	height: 95%;
	border-right: 1px solid black;
	padding-top: 20px;
	padding-left: 10px;
}

#slidearea {
	display: none;
	width: 100%;
	height: 400px;
	background-color: #000000;
	margin-bottom: 10px;
}

input,.guitarchart,#textarea,#slidearea,#chordarea {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#chordarea {
	background-color: #ffffff;
	float: right;
	width: 48%;
	height: 95%;
	padding-top: 20px;
	padding-left: 10px;
}

.navigation {
	text-align: center;
	font-size: 20px;
	margin: 0;
	color: #ffffff;
	padding: 0;
}

ul.navigation {
	list-style: none;
	text-align: center;
}

ul.navigation li {
	display: inline;
	margin: 10px;
}

.navigation a {
	display: inline-block;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

a:hover {
	color: #EB009B;
}

#lyricstable {
	width: 100%;
}