/*
Staff stylesheet, which presents a darker-toned set of colors to differentiate itself from the customer page.
*/
@import url("styles.css");

/*------------------------------Universal Section------------------------------*/
* {
	color: #FFFFFF;
}

/*------------------------------Element Section------------------------------*/
input[type="button"] {
	background-color: #CC6600;
}
/*------------------------------Class Section------------------------------*/

/*------------------------------ID Section------------------------------*/
#innerframe {
	background-color: #CC6600;
}

#outerframe,#logo { /*Set opacity for image */
	border: 1px solid #CC6600;
}

#largerestaurantname {
	color: #CC6600;
}

#tagline {
	color: #CC6600;
}

#greeting {
	color: #CC6600;
}

ul.navigation li {
	background: #CC6600;
}

ul.navigation li:hover {
	color: #CC6600;
}

ul.navigation a:hover {
	color: #CC6600;
}

ul.navigation li.highlight a {
	color: #CC6600;  
}