<!DOCTYPE html>
<html ng-app="angularMapquest">
<head>
<meta charset="UTF-8">
<title>AngularJS MapQuest</title>

<link rel="stylesheet"
	href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
<link
	href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css"
	rel="stylesheet">

<link type="text/css" rel="stylesheet" href="css/styles.css">

<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="mapquest.js"></script>

</head>
<body ng-controller="mapquestController" ng-init="initialize()">
	<div class="wrapper">
		<div id="header">
			<h1>AngularJS MapQuest</h1>
		</div>
		<div id="content">
			<form id="searchform">
				<input type="text" name="from" id="from" ng-model="mapsearch.from"
					required placeholder="from" /> <input type="text" name="to"
					id="to" ng-model="mapsearch.to" required placeholder="to" /> <br>
				<button id="getdirections" ng-disabled="searchform$invalid"
					ng-click="onChange()">Get Directions</button>
				<div id="resultsarea" ng-show="directions.length>0">
					<table>
						<caption>
							<b>From:</b> {{mapsearch.from}}, <b>To:</b> {{mapsearch.to}} <br>
							<b>Distance:</b> {{directions.tripDistance}}m - <b>Time:</b>
							{{directions.tripTime}}
						</caption>
						<tbody ng-repeat="direction in directions">
							<tr>
								<td><img src="{{direction.image}}"></td>
								<td>{{direction.step}}.</td>
								<td><a href="{{direction.link}}">{{direction.text}}</a></td>
								<td>{{direction.distance}}m</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
	</div>
	<div id="footer">
		<h4>Ryszard Kilarski Homework 6</h4>
	</div>
</body>
</html>